alias tlmgr='/usr/share/texmf-dist/scripts/texlive/tlmgr.pl --usermode'

alias grep='grep --color=auto'

alias vim='nvim'

# Depends on Arch - WSL
command -v "clip.exe" >/dev/null 2>&1
if [ "$?" != "0" ]; then
    alias xclip='xclip -sel c';
else
    alias xclip='clip.exe';
fi

alias ls='exa --color=always --group-directories-first'
alias la='exa -a --color=always --group-directories-first'
alias ll='exa -l --color=always --group-directories-first'
alias lla='exa -la --color=always --group-directories-first'
alias lh='exa -h --color=always --group-directories-first'
alias l='ll'

alias rr='curl -s -L https://raw.githubusercontent.com/keroserene/rickrollrc/master/roll.sh | bash'

alias gitlines='git ls-files | xargs -n1 git blame --line-porcelain | sed -n '\''s/^author //p'\'' | sort -f | uniq -ic | sort -nr'
