export PGDATA="$HOME/postgres_data"
export PGHOST="/tmp"

export EDITOR=nvim

export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
export JAVA_HOME=/usr/lib/jvm/default/

export HISTCONTROL=ignoredups:erasedups

export SSH_SERVER_IP='94.239.55.153'

export RUSTFLAGS="-C target-cpu=native -C opt-level=3"
