export PGDATA="$HOME/postgres_data"
export PGHOST="/tmp"

export EDITOR=nvim

export PATH="$HOME/.poetry/bin:$PATH"
export JAVA_HOME=/usr/

export HISTCONTROL=ignoredups:erasedups

export SSH_SERVER_IP='94.239.55.153'
